<div class="sidebar">
    <div class="logo">
        <img src="assets/icons8-twitter.gif" alt="Opis GIF animacije" width="200" height="200" />    </div>
    <nav>
      <ul class="list">
        
        <li>
            <img src = "assets/homeicon.png" width="40" height="40" class="home">
           <div class="home-link">
            <a routerLink="/dashboard">
            Home</a></div>
        </li>
        <li>
            <img src = "assets/exploreicon.png" width="40" height="40" class="explore">
            <div class="home-link">
            <a routerLink="/explore">Explore</a>
        </div>
        </li>
        <li>
            <img src = "assets/notificationicon.png" width="40" height="40" class="notification">
        <div class="notification-link">
            <a routerLink="/notifications">Notifications</a>
        </div>
        </li>     
        <li>
            <img src = "assets/profileicon.png" width="40" height="40" class="notification">
        <div class="notification-link">
            <a routerLink="/notifications">Profile</a>
        </div>
        </li>     
      </ul>
    </nav>
    <!-- User profile info, trending topics, etc. can be added here -->
  </div>
  